* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    /*FAlta cambiar font-family sans-serif*/
}

body {
    Width: 100%;
    height: 100%;
}

header {
    border-style: solid;
    border-color: pink;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://factoriaf5.s3.eu-west-3.amazonaws.com/talleres/spotify/landing.jpg");
    background-size: 100%;
}

nav {
    border-style: solid;
    border-color: turquoise;
    height: 30px;
    Width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    /* la posicion estara arriba de todo */
    display: inline-block;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

header h1,
h3 {
    color: white;
    justify-content: center;
}

header h3 {
    padding-top: 20px;
    opacity: 0.6;
    width: 55%;
    text-align-last: center;
}

.menu {
    border-style: solid;
    border-color: green;
    width: 40%;
    display: inline-block;
    display: flex;
    justify-content: space-around;
}

main {
    border-style: solid;
    border-color: red;
    height: 20%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-decoration-line: underline;
    padding: 10px;
}

section {
    border-style: solid;
    border-color: orange;
    display: flex;
    justify-content: space-around;
    padding: 20px 5px 20px 5px;
    text-align-last: center;
}

figure {
    border-style: solid;
    border-color: yellow;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align-last: center;
}

figure img {
    padding: 10px;
    width: 80px;
}

figure h3 {
    padding: 10px;
    color: green;
}

figure p {
    width: 70%;
}

footer {
    margin: 0 10px 0 10px;
    border-style: solid;
    border-color: blue;
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align-last: left;
    padding: 50px;
    position: relative;
}

#logo_blanco {
    position: absolute;
    width: 8%;
    top: 50%;
    left: 50%;
}

footer ul {
    width: 45%;
}

footer li {
    padding-top: 30px;
    width: 70%;
}

footer li h3 {
    padding-bottom: 30px;
}

footer img {
    width: 30%;
}